body {
  text-align: center;
}

.bookRow {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.remove {
  width: min-content;
}

hr {
  max-width: 100px;
  margin-top: 20px;
}

.alternateRow {
  background-color: #ddd;
}

.books {
  border: 2px solid black;
  max-width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.inputs {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#submit,
#inputTitle,
#inputAuthor {
  margin-top: 10px;
}

#submit {
  align-items: flex-end;
}

.buttonInput {
  text-align: right;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
