body {
  text-align: center;
}

.bookRow {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.remove {
  width: min-content;
}

hr {
  max-width: 100px;
  margin-top: 20px;
}

.alternateRow {
  background-color: #ddd;
}

.books {
  border: 2px solid black;
  max-width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.inputs {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#submit,
#inputTitle,
#inputAuthor {
  margin-top: 10px;
}

#submit {
  align-items: flex-end;
}

.buttonInput {
  text-align: right;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid grey;
}

.navlist {
  list-style-type: none;
  display: inline-flex;
}

.navitem {
  border-left: 2px solid grey;
}

.navlink {
  font-size: 20px;
  font-family: cursive;
  padding: 12px;
  text-decoration: none;
  color: initial;
}

.date {
  text-align: right;
  padding: 15px 10px;
}

.main {
  margin-top: 5%;
}

.logo,
.nav {
  padding-left: 2%;
}

footer {
  border: 3px solid grey;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.deactivate {
  display: none;
}

.visited {
  color: blue;
}

.contactsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.info {
  text-align: left;
}
