.header {
  justify-content: center;
}

body {
  text-align: center;
  position: relative;
}

h1,
  h2 {
    font-family: cursive;
    font-size: 30px;
  }
  
.flex-container {
  display: flex;
  justify-content: center;
}

.books {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bookRow {
  display: flex;
  flex-direction: row;
}

.remove {
  width: min-content;
}

hr {
  max-width: 400px;
  margin-left: 0;
}

#add {
  width: 300px;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#add input {
  padding: 5px;
  border: solid #000 3px;
  border-radius: 3px;
}

#addBtn {
  align-self: flex-end;
  width: 50px;
  box-shadow: 2px 2px #000;
}